@model PingPongLeague.ViewModels.HomePageVM
@{
    ViewData["Title"] = "ICAS Table Tennis League";
}
<div class="row">
    <div class="col-md-4">
        <h2>All time leaderboard</h2>
        <p><i>Elo ranked scores for players across all time</i></p>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr class="thead-dark" y>
                    <td>Ranking</td>
                    <td>Player</td>
                    <td>Rating</td>
                    <td>Form</td>
                </tr>
            </thead>
            @foreach (var player in Model.AllTimeLeaderboard)
            {
                <tr>
                    <td>@player.Rank</td>
                    <td>@player.Name</td>
                    <td><span class="badge badge-primary badge-pill">@player.Rating</span></td>
                    <td style="font-family: monospace">@player.Form</td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-4">

        <h2>@($"{DateTime.Now:MMMM} ladder")</h2>
        <p><i>Challenge players up to 2 places ahead to take their place in the ladder</i></p>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr class="thead-dark" y>
                    <td>Ranking</td>
                    <td>Player</td>
                </tr>
            </thead>
            @foreach (var player in Model.MonthLeaderboard)
            {
                <tr>
                    <td>@player.Rank</td>
                    <td>@player.Name</td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-4">
            <h2>Latest Results</h2>
            <ul class="list-group">
                @foreach (var result in Model.RecentGames)
                {
                    <li class="ist-group-item d-flex justify-content-between align-items-center">@Html.ActionLink(result.Value, "Details", new { Controller = "Match", Id = result.Key })</li>
                }
            </ul>
        </div>

</div>